.gazsi{
	width:	50vW;
	height: 50vH;
	margin-left: 25vW;
	margin-bottom: 10vH;
}
body{
	background-color: #fff;color: #000;
	font-family: "Lato",sans-serif;
}
#asdd{
	text-align: justify;
}

}
#him{
	margin-top: 10vH;
}
.vid,.aaaa{
	width: 50vW;
	height: 40vH;
}
.vid{
	margin-left: 25vW;
}
#hhh{
	padding-top: 10vH;
}

#xd,#xdd{

	width: 50vW;
	height: 40vH;
}
#xdd{
	margin-left: 25vW;
}
#dd{
	padding-top: 10vH;
}